body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(0, 0, 46),rgb(0, 0, 25),rgb(0, 0, 25), rgb(0, 0, 12));
}
.main-div{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thinking{
    border: 5px solid red;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-dial{
    width: 40vw;
    height: 40vw;
    border: 0.5vh solid rgba(255, 255, 255, 0.85);
    background-color: rgba(2, 0, 27, 0.577);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.hour{
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 1.5vh #0095ffac;
    position: absolute;
    margin: 0;
    padding: 0;
}
.hour-12{
    font-size: 3vw;
    font-weight:lighter;
    color: rgba(0, 132, 209);
    left: 18.5vw;
    top: 0vw;
}
.hour-1{
    left: 29vw;
    top: 3vw;
}
.hour-2{
    left: 35.82vw;
    top: 9.25vw;
}
.hour-3{
    left: 38.5vw;
    top: 19.75vw;
}
.hour-4{
    left: 35.82vw;
    top: 29.25vw;
}
.hour-5{
    left: 29vw;
    top: 35.5vw;
}
.hour-6{
    left: 20vw;
    top: 38vw;
}
.hour-7{
    left: 10.5vw;
    top: 35.5vw;
}
.hour-8{
    left: 3.5vw;
    top: 29.25vw;
}
.hour-9 {
    left: 0.5vw;
    top: 19.5vw;
}
.hour-10 {
    left: 3.5vw;
    top: 9.25vw;
}
.hour-11 {
    left: 10.5vw;
    top: 3vw;
}
.brand {
    font-size: 1.25vw;
    font-weight:bold;
    position: absolute;
    margin: 0;
    padding: 0;
    color: rgba(0, 132, 209, 0.821);
    text-shadow: 0 0 1.5vh #0095ffac;
    left: 17.5vw;
    top: 8vw;
}

.minute-hand-wrapped {
    width: 35vw;
    height: 35vw;
    position: absolute;
    top: 2.5vw;
    left:2.5vw;
    border-radius: 50%;
}
.minute-hand {
    position: relative;
}
.minute-hand .hand {
    width: 0.5vw;
    height: 17.5vw;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 1.5vh #ffffffac;
    position: absolute;
    left: 17.5vw;
}

.hour-hand-wrapped {
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 7.5vw;
    left:7.5vw;
    border-radius: 50%;
}
.hour-hand {
    position: relative;
}
.hour-hand .hand {
    width: 0.6vw;
    height: 12.5vw;
    background-color: #0040bf;
    box-shadow: 0 0 1.5vh #0095ffac;
    position: absolute;
    left: 12.5vw;
}
.hour-hand .arrow {
    font-size: 3vw;
    font-weight: bold;
    color: #0040bf;
    transform: rotate(180deg);
    position: absolute;
    left: 11.8vw;
    top: -1.02vw;
}

.second-hand-wrapped {
    width: 35vw;
    height: 35vw;
    position: absolute;
    top: 2.5vw;
    left:2.5vw;
    border-radius: 50%;
}
.second-hand {
    position: relative;
}
.second-hand .hand {
    width: 0.2vw;
    height: 17.5vw;
    background-color: rgba(0, 132, 209, 0.821);
    box-shadow: 0 0 1.5vh #0095ffac;
    position: absolute;
    left: 17.5vw;
}
.point{
    width: 3vw;
    height: 3vw;
    background-color: hwb(0 100% 0% / 0.95);
    border-radius: 50%;
    position: absolute;
    top: 18.45vw;
    left: 18.6vw;
}